@model IEnumerable<RetailMVC.Models.Products>

@{
    ViewData["Title"] = "ViewProducts";
}

<h1>View Products</h1>

<p>
    <a asp-action="AddProducts">Add Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="UpdateProducts" asp-route-id="@item.ID">Update</a>
                <a asp-action="DeleteProducts" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
